body {
    font-family: sans-serif;
    background-color: rgb(231, 229, 229);
}

#header {
    display: flex;
    background-color: rgb(96, 150, 175);
    width: 100%;
    height: 5rem;
    text-align: center;
}

#header svg{
    width: 50%;
    height: 50%;
    margin-top: 1rem;
    margin-right: 0.2rem;
}

#menu{
    display: flex;
    text-transform: uppercase;
    white-space: nowrap;
    flex-direction: column;
}

#perro_img{
    width: 20%;
    height: auto;
}